/*.calendar {
    border: 1px solid blueviolet;
    width: 600px;
  }
  .header {
    border: 1px solid rgb(167, 33, 138);
     font: italic 1.2em "Fira Sans", serif;
 }
 .footer{
    border: 1px solid rgb(167, 33, 138);
 }
 .tabl{
    border: 1px solid blueviolet;
     
 }
 .sch{
   
    border: 1px solid blueviolet;
    font: italic 1.2em "Fira Sans", serif;
    width: 170px;
 }
 .scf{
   
    border: 1px solid blueviolet;
    font: italic 1.2em "Fira Sans", serif;
    width: 170px;
 }*/
 .vvod{
   width: 500px;
   border: 1px solid blueviolet;
 }